@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

h1{
    font-family: Roboto;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
padding-top: 191px;
    justify-content: center;
    color: #000000;

}
input[type=text]{
    margin-left: 500px;
      width: 637px;
    height: 74px;
     border:2px solid #aaa;
    border-radius:4px;
     outline:none;
    box-sizing:border-box;
    transition:.3s;
}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.button_sec5{
    padding-top: 30px;
 padding-left: 720px;
  }


.button-5 {
      text-align:   center;
        width: 200px;
    border-radius: 5px;
    background-color: #2e4bee;
    background-image: #F4F200;
    background-image: -moz-linear-gradient(top, #e81373 0%, #1b37c0 100%);
    background-image: -webkit-linear-gradient(top, #de3595 0%, #203ac0 100%);
    background-image: linear-gradient(to bottom, #d22c67 0%, #1c4ece 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.button-5:hover {
    background-position: -200%;
    transition: background 300ms ease-in-out;
}