.blacks{
    padding: 100px 0;
    justify-content: center;
     column-gap: 100px;
    display: flex;

}
.block1{
    width: 250px;
    height: 200px;
    left: 252px;
    top: 962px;

    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}
.block2{
    width: 250px;
    height: 200px;
    left: 252px;
    top: 962px;

    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}
.block3{
    width: 250px;
    height: 200px;
    left: 252px;
    top: 962px;

    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}
.block4{
    width: 250px;
    height: 200px;
    left: 252px;
    top: 962px;

    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}
   .img1{
    padding-left: 89px  ;
}
h3{
      font-weight: 600;
    font-size: 20px;
    line-height: 28px;


    color: #000000;

    padding-left: 44px;
}
p{
    left: 20px;
     font-size: 14px;
    line-height: 19px;

    color: #000000;

    opacity: 0.6;
 }