.sec4{
    display: flex;
}
.adele{
    padding-top: 205px;
    padding-left: 254px;
}

.mc_adele{
    display: flex;
}
.adele_text{
    padding-top: 185px;
    padding-left: 21px;
}
.name4{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: ;
    color: #000000;

}
.from{
    font-size: 12px;
    line-height: 14px;
     color: #000000;

    opacity: 0.7;
}
.about_me{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
padding-left: 275px;
    opacity: 0.7;
    padding-top: 20px;
}











.ice_sec4{
    padding-top: 130px;
    padding-left: 220px;
}